@import "tailwindcss";

@theme {
    --color-os-void: #020617;
    --color-os-cyan: #06b6d4;
    --color-os-white: #fafafa;
}

body {
    background-color: #020617;
    color: #06b6d4;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.scanline {
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 50;
    background: linear-gradient(to bottom,
            transparent 50%,
            rgba(6, 182, 212, 0.05) 51%);
    background-size: 100% 4px;
    animation: scan 10s linear infinite;
}

@keyframes scan {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 100%;
    }
}

.cyber-border {
    border: 1px solid rgba(6, 182, 212, 0.3);
    backdrop-filter: blur(4px);
}

.custom-scrollbar::-webkit-scrollbar {
    width: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(6, 182, 212, 0.05);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(6, 182, 212, 0.3);
    border-radius: 9999px;
}