@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply antialiased bg-[#020617] text-slate-400;
    }
}

.scanline {
    width: 100%;
    height: 2px;
    background: rgba(6, 182, 212, 0.1);
    position: absolute;
    top: 0;
    animation: scan 4s linear infinite;
    z-index: 100;
}

@keyframes scan {
    0% {
        top: 0;
    }

    100% {
        top: 100%;
    }
}

.cyber-border {
    border: 1px solid rgba(6, 182, 212, 0.3);
    box-shadow: 0 0 15px rgba(6, 182, 212, 0.1);
}